<div *ngIf="task">
  <h3>{{ "Select Components" }}</h3>
  <div class="container">
    <div [hidden]="!show_components_select()">
      <div class="row">
          <div class="col col-md-2"><input type="checkbox" (click)="toggle_select_components()" />toggle</div>
          <div class="col col-md-2"><input type="checkbox" (click)="toggle_select_components('all')" />all</div>
          <div class="col col-md-2"><button class="btn btn-primary" (click)="on_components_select()">APPLY</button></div>
      </div>
        <div class="form-group">
          <div *ngFor="let taskproject of task.taskprojects">
            <input type="checkbox" [checked]="taskproject.enable === 'Y'" (click)="toggle_enable_taskproject(taskproject)" />
            <label class="taskproject">{{ taskproject?.component?.component_name }}</label><br>
          </div>
        </div>
    </div>
    <div [hidden]="show_components_select()">
      <div *ngFor="let tp of TASKPROJECTS">{{ tp.component.component_name }}</div>
      <div>
        <button class="btn btn-default" (click)="toggle_components_selected()">Select Components</button>
      </div>
    </div>
  </div>
  <div class="container" [hidden]="!components_selected">
    <h3> Select Platforms </h3>
    <div [hidden]="show_oses_select()">
      <div *ngFor="let tpo of TASKPROJECTOSES">
        <div *ngIf="tpo.enable === 'Y'">
          <span>{{ tpo.component.component_name }}</span><span style="margin-left:2rem;">{{ tpo.os.os_name }}</span>
        </div>
      </div>
      <div>
        <button class="btn btn-default" (click)="toogle_oses_selected()">Select Os</button>
      </div>
    </div>
    <div [hidden]="!show_oses_select()">
      <div class="row">
          <div class="col col-md-2">
            <button class="btn btn-primary" (click)="generate_task_file();send_task_file();oses_selected=true;">Update Task File</button>
          </div>
      </div>
      <div class="row">
          <div class="col col-sm-3"><input type="checkbox" [checked]="task.checkout === 'Y'" (click)="toggle_task_checkout()">checkout</div>
          <div class="col col-sm-1"></div>
          <div class="col col-sm-3"><input type="checkbox" [checked]="task.strip === 'Y'" (click)="toggle_task_strip()">strip</div>
          <div class="col col-sm-1"></div>
          <div class="col col-sm-2"><input type="checkbox" [checked]="cpcvs" (click)="toggle_task_cpcvs()">cpcvs</div>
      </div>    
      <table class="table table-striped table-hover">
        <thead>
          <th>&nbsp;</th>
          <th *ngFor="let taskproject of TASKPROJECTS" (click)="toggle_enable_taskproject(taskproject)">{{ taskproject?.component?.component_name }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let os_name of OSES">
            <td>{{ os_name }}</td>
            <td *ngFor="let taskproject of TASKPROJECTS">
              <div *ngIf="exists_taskproject_os(os_name, taskproject)">
                <input type="checkbox" [checked]="checked_taskproject_os(os_name, taskproject)" (click)="toggle_taskproject_os_selected(os_name, taskproject)" />
              </div>
            </td>
          </tr>  
        </tbody>
      </table>
    </div>
  </div>
</div>