<div class="text-center">  <h3>RTC {{ workitem?.wi_id }} Patch Build </h3> <a href="https://jazz07.rchland.ibm.com:21443/jazz/web/projects/pc-management#action=com.ibm.team.workitem.viewWorkItem&id={{ workitem?.wi_id }}" target="_new"><button class="btn btn-primary">OpenInRTC</button></a><button class="btn btn-primary" (click)="syncObject()">SyncFromRTC</button>    </div>
<hr>
<div class="row" >
  <div class="col-xs-12 col-md-6">
      <div *ngIf="workitem">
          <div>
              <div class="form-group">
                  <label>Product Info</label>
                  <input type="text" class="form-control" value="{{ workitem.product.name }} - {{ workitem.product.product_name }} - {{ workitem.version?.name }}" name="product" id="product" readonly />
              </div>            
              <div class="form-group">
                <label>Release Directory</label>
                <input type="text" class="form-control" [(ngModel)]="workitem.reldir" name="reldir" id="reldir" />
              </div>            
              <div class="form-group">
                  <label>Platforms</label>
                  <textarea type="text" class="form-control" [(ngModel)]="workitem.platforms_string" name="platforms_string" id="platforms_string" ></textarea>
              </div>
              <div class="form-group">
                <label>Packages</label>
                <input type="text" class="form-control" [(ngModel)]="workitem.packages" name="packages" id="packages" />
              </div>
              <div class="form-group">
                  <label>Source Code Streams:</label>
                  <textarea type="text" class="form-control" [(ngModel)]="workitem.streams" name="streams" id="streams" ></textarea>
                </div>
                <div class="form-group">
                    <label>Build Binaries:</label>
                    <textarea rows=5 class="form-control" [(ngModel)]="workitem.binaries" name="binaries" id="binaries" ></textarea>
                </div>
                <div class="form-group">
                    <label>Task File</label>
                    <textarea rows=10 class="form-control" [(ngModel)]="workitem.file_task" name="file_task" id="file_task" [readonly]="readonly_file_task"></textarea>
                </div>
  
                <div>
                  <button class="btn btn-default" (click)="readonly_file_task=false" [disabled]="!readonly_file_task">UnlockTask</button>
                  <button class="btn btn-primary" [disabled]="readonly_file_task" (click)="save();readonly_file_task=true">SaveTask</button>
                  <button class="btn btn-primary" [disabled]="readonly_file_task" (click)="run();readonly_file_task=true">RunTask</button>
                </div>
            </div>
      </div>
  </div>
  <div class="col-xs-12 col-md-6">

  <div *ngIf="workitem">
    <h3>Select Task Template</h3>
    <div [hidden]="!template_finished">
      {{ task_template?.task_name }}<button class="btn btn-default" (click)="template_finished=!template_finished">Select Task Template</button>
    </div>    
     <div [hidden]="template_finished">
        <form>
          <div class="form-group">
            <label>Product:</label>
            <input type="text" class="form-control" value="{{ workitem.product.name }}" name="product" id="product" readonly>
          </div>
          <div class="form-group">
            <label>Version:</label>
            <input type="text" class="form-control" value="{{ workitem.version.name }}" name="version" id="version" readonly>
          </div>
          <div class="form-group">
            <label>Task Template:</label>
            <select [compareWith]="compareObject" [(ngModel)]="workitem.task_template" name="tasktemplate" class="form-control" id="tasktemplate">
              <ng-container *ngFor="let faketask of TASKTEMPLATES">
                <option [ngValue]="faketask" >{{ faketask.task_name }}</option>
              </ng-container>
            </select>
          </div>
          <div>
            <button class="btn btn-primary" (click)="on_template_submit()">Go Next</button>
          </div>
        </form>
      </div>
      <div>{{ workitem.task_template | json }}</div>
    </div>
    <div *ngIf="template_finished">
        <workitem-task-detail [workitem]="workitem" (onTaskFile)="onTaskFile($event)"></workitem-task-detail>
    </div>
  </div>
</div>