<button class="btn btn-primary" (click)="syncObjects()">SyncFromRTC</button><button class="btn btn-primary" (click)="getPatchObjects()">ReLoad</button>

<div>
    <h3> Patch Workitems</h3>
    <table class="table table-striped table-hover">
      <thead>
        <th>wi_id</th><th>status</th><th>product</th><th>version</th><th>summary</th>
      </thead>
      <tbody>
        <tr *ngFor="let workitem of patch_workitems" (click)="goTo(workitem)">
          <td>{{ workitem.wi_id }}</td>
          <td>{{ workitem.status }}</td>  
          <td>{{ workitem?.product }}</td>
          <td>{{ workitem?.version}}</td>
          <td>{{ workitem?.summary }}</td>
        </tr>  
      </tbody>
    </table>
</div>
<div>
    <h3> Recent Updated Workitems</h3>
    <table class="table table-striped table-hover">
      <thead>
        <th>wi_id</th><th>status</th><th>product</th><th>version</th><th>summary</th>
      </thead>
      <tbody>
        <tr *ngFor="let workitem of workitems" (click)="goTo(workitem)">
          <td>{{ workitem.wi_id }}</td>
          <td>{{ workitem.status }}</td>  
          <td>{{ workitem?.product }}</td>
          <td>{{ workitem?.version}}</td>
          <td>{{ workitem?.summary }}</td>
        </tr>  
      </tbody>
    </table>
  </div>