<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-left">ENGBUILD</div>
    <div><a routerLink="/status-list">Status</a></div>
    <div><a routerLink="/oscategory-list">OsCategory</a></div>
    <div><a routerLink="/os-list">Os</a></div>
    <div><a routerLink="/workitem-list">Workitem</a></div>
    <div><a routerLink="/task-list">Task</a></div>
</nav>
<router-outlet></router-outlet>
<!--<app-status-search></app-status-search>-->
<app-message></app-message>