<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar">
          <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
              <!--<li class="active"><a routerLink="/home">demo<span class="sr-only">(current)</span></a></li>-->
              <li class="active"><a routerLink="/workitem-list">Workitems<span class="sr-only">(current)</span></a></li>
            </ul>
</nav>

<router-outlet></router-outlet>
<!--<app-status-search></app-status-search>-->
<app-message></app-message>
