<h2> OsCategory </h2>
<div>
  <ul class="oscategories">
    <li *ngFor="let oscategory of oscategories">
      <a routerLink="/oscategory-detail/{{ oscategory.category_id }}">
        <span class="badge">{{ oscategory.category_id }}</span>{{ oscategory.category_name }}
      </a>
      <button class="delete" title="delete oscategory" (click)="delete(oscategory)">x</button>
    </li>
  </ul>
</div>
<div>
  <label>OsCategory name:
    <input #oscategoryName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(oscategoryName.value); oscategoryName.value=''">
    add
  </button>
</div>