<div *ngIf="task">
  <h3>{{ "Select components" | uppercase }}</h3>
  <div class="container">
    <div [hidden]="!show_components_select()">
      <form (ngSubmit)="on_task_submit()" #taskForm="ngForm">
        <div class="form-group">
          <div *ngFor="let taskproject of task.taskprojects">
            <input type="checkbox" [checked]="taskproject.enable === 'Y'" (click)="toggle_enable_taskproject(taskproject)" />
            <label class="taskproject">{{ taskproject?.component?.component_name }}</label><br>
          </div>
        </div>
        <div>
          <button (click)="goBack()">Go Back</button>
          <button type="submit" class="btn btn-default">Continue</button>
        </div>
      </form>
    </div>
    <div [hidden]="show_components_select()">
      <button class="btn btn-default" (click)="toggle_components_selected()">select components</button>
    </div>
  </div>
  <div [hidden]="!show_oses_select()">
    <h3> SELECT OS </h3>
    <table class="table">
      <thead>
        <th>&nbsp;</th>
        <th *ngFor="let taskproject of TASKPROJECTS">{{ taskproject?.component?.component_name }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let taskprojectos of task.taskprojectoses">
          <td>{{ taskprojectos.os?.os_name }}</td>
          <td *ngFor="let taskproject of TASKPROJECTS"><input type="checkbox" [checked]="taskproject.enable === 'Y'"  (click)="toggle_enable_taskproject(taskproject)" /></td>
        </tr>  
      </tbody>
    </table>
  </div>
  <div>{{ components | json}} </div>
  <div> {{ task.taskprojectoses | json }}</div>
</div>